
  <div class="p-4"  [hidden]="submitted">
    <div class="title-help">
      <p>Help us make AppScalr even better :</p>
    </div>
    <form (ngSubmit)="onSubmit()"  >
      <div class="form-rate">
         <p>Rate It !</p>
        <div class="rate">
          <input type="radio" id="star5" name="rate" [value]="5" [(ngModel)]="feedback.rate" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" [value]="4" [(ngModel)]="feedback.rate"/>
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" [value]="3" [(ngModel)]="feedback.rate" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" [value]="2" [(ngModel)]="feedback.rate" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" [value]="1" [(ngModel)]="feedback.rate" />
          <label for="star1" title="text">1 star</label>
        </div>
      </div>

      <div class="form-feedback">
         <p>Feedback :</p>
          <textarea nbInput fullWidth rows="5" [(ngModel)]="feedback.feedback" name="feedback"   id="feedback" placeholder="your feedback"></textarea>

      </div>


        <button type="submit" class="btn btn-primary w-100">Send</button>

    </form>
    <!-- <div class="inline">
      <button class="b-cancel"nbButton hero status="basic">Cancel</button>
      <button class="b-send" nbButton hero status="success" type="submit">Send</button>
    </div> -->
  </div>

