<div class="header-container">
  <div class="logo-container">
    <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a> -->
    <a class="logo"  (click)="navigateHome()"><span class="logo-icon"><ion-icon name="logo-firefox" ></ion-icon></span><span><b>AppScalr</b></span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" shape="round" size="small" >
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <a class="doc" href="https://ionicframework.com/docs/components"
    target="_blank">
    <span>Documentation</span>

    </a>
  <nb-actions size="small" >

    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->

    <nb-action class="control-item" *ngIf="currentUser?.hasfeedback==false" [nbPopover]="feedbacks"icon="message-circle-outline" nbTooltip="Feedbacks" nbTooltipPlacement="bottom"></nb-action>
    <nb-action class="control-item" [nbPopover]="bugs" icon="flash-outline" nbTooltip="Bugs" nbTooltipPlacement="bottom"></nb-action>
    <nb-action class="control-item" icon="bell-outline"
                                    nbTooltip="Notifications" nbTooltipPlacement="bottom"
                                    badgeText=""
                                    badgeStatus="basic"></nb-action>

    <!-- <nb-action class="user-action" *nbIsGranted="['view', 'user']" > -->
      <nb-action class="user-action"  >
      <nb-user [nbContextMenu]="userMenu"
               picture="../../assets/images/person.png"
               [name]="us?.s"
               >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
