
<nb-layout>
  <nb-layout-header  fixed>
    <div class="header-container">
      <div class="logo-container">
       <!-- <span><img src="../../assets/images/Laser TagLogo.png" /> </span> -->
        <a class="logo" href="#" (click)="navigateHome()"><span><b>AppScalr</b></span></a>
      </div>
      <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
      </nb-select>
    </div>
    <div class="header-container2">
      <nb-actions size="small">

        <nb-action class="control-item">
          <nb-search type="rotate-layout"></nb-search>
        </nb-action>
        <nb-action class="control-item" icon="email-outline"></nb-action>
        <nb-action class="control-item" icon="bell-outline"></nb-action>
        <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
          <nb-user [nbContextMenu]="userMenu"
                   [onlyPicture]="userPictureOnly"
                   [name]="user?.sub"
                   >
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-layout-header class="subhead" subheader responsive >
      <div style="justify-content: space-between;display: flex;">
        <span style="float: left;padding-right: 1.2rem;padding-top: 0.5rem;font-weight:bold;color:#0547d4;">Device</span>

        <nb-select placeholder="Iphone" status="info" style="float: right;">
          <nb-option value="1">Android</nb-option>
          <nb-option value="2">Iphone</nb-option>

        </nb-select>
      </div>

      <div class="dropdownIcons" >
        <nb-actions size="small">

          <nb-action class="control-item" icon="cube-outline" nbTooltip="Build" nbTooltipPlacement="bottom" ></nb-action>
          <nb-action class="control-item" icon="eye-outline" nbTooltip="Preview" nbTooltipPlacement="bottom" ></nb-action>
          <nb-action class="control-item" icon="brush-outline" nbTooltip="Theming & SCSS" nbTooltipPlacement="bottom" ></nb-action>
          <nb-action class="control-item" icon="cloud-download-outline" nbTooltip="Export Your App" nbTooltipPlacement="bottom" ></nb-action>
          <nb-action class="control-item" icon="share-outline" nbTooltip="Share" nbTooltipPlacement="bottom" ></nb-action>
          <nb-action class="control-item" icon="question-mark-circle-outline" nbTooltip="Help" nbTooltipPlacement="bottom" ></nb-action>
        </nb-actions>

      </div>

  </nb-layout-header>



    <nb-sidebar >

        <div class="titrecomp">
          <h6 >Components</h6>
          <nb-form-field class="searchfield">
            <nb-icon nbPrefix icon="search-outline" pack="eva" ></nb-icon>
            <input type="text" nbInput fullWidth status="info"  placeholder="Search a component">
          </nb-form-field>
        </div>


<div>
      <nb-accordion class="acc1" multi>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Global
          </nb-accordion-item-header>
          <nb-accordion-item-body class="app-components">

            <div class="content scroll-outer" style="height:calc(100% + 10px);"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todos"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="onDrop($event)">

                <ul>
                <!-- ngRepeat: component in components -->
                <li ng-repeat="component in components" data-component-type="heading" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/tree-grid.svg" alt="Layout"/></span>
                      <span>Heading</span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="markdown" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/accordion.svg" alt="Layout"/></span>
                      <span>Paragraph</span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="button-bar" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon button-bar" src="../../assets/images/components/reveal.svg" alt="Layout"/></span>
                      <span>Reveal Card<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>

                <li ng-repeat="component in components" data-component-type="card2" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon card2" src="../../assets/images/components/card.svg" alt="Card"/></span>
                      <span>Card<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="container" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/layout.svg" alt="Container"/></span>
                      <span>Container<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="html" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/html.svg" alt="Container"/></span>
                      <span>Html<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="image" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/image.svg" alt="Container"/></span>
                      <span>Image<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="map" draggable="false" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/tooltip.svg" alt="Container"/></span>
                      <span>Tooltip<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="slider" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/flip.svg" alt="Container"/></span>
                      <span>Slider<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="spacer" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/web-design.png" alt="Spacer"/></span>
                      <span>Spacer<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="video" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/play-button.png" alt="Spacer"/></span>
                      <span>Video<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="checkbox" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/infinite-scroll.svg" alt="checkbox"/></span>
                      <span>Infinite List<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="range" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/progress-bar.svg" alt="range"/></span>
                      <span>Range<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="list-item-divider" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/list.svg" alt="list"/></span>
                      <span>List <!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="list-item-container" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/dialog.svg" alt="radio"/></span>
                      <span>Container List <!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="list-item-thumbnail2" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/thumbnailList .svg" alt="radio"/></span>
                      <span>Thumbnail List<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="list-item-icon" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/context-menu.svg" alt="menu"/></span>
                      <span>Context Menu<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="chips" draggable="true" class="">
                  <a>
                    <div class="component-content">

                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/chips.svg" alt="chips"/></span>
                      <span>Chips</span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="action" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/actions.svg" alt="action"/></span>
                      <span>Action</span>
                    </div>
                  </a>
                </li>
              </ul>



            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header>
            Forms
          </nb-accordion-item-header>
          <nb-accordion-item-body class="app-components">


            <div class="content scroll-outer" style="height:calc(100% + 10px);"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todos"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="onDrop($event)">

                <ul>
                <!-- ngRepeat: component in components -->

                <li ng-repeat="component in components" data-component-type="button" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon button" src="../../assets/images/components/button.svg" alt="Button"/></span>
                      <span>Button<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>

                <li ng-repeat="component in components" data-component-type="html" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/html.svg" alt="Container"/></span>
                      <span>Html<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
               <li ng-repeat="component in components" data-component-type="spacer" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/web-design.png" alt="Spacer"/></span>
                      <span>Spacer<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="checkbox" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/checkbox.svg" alt="checkbox"/></span>
                      <span>Checkbox<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="form" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/computer.svg" alt="form"/></span>
                      <span>Form<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="input" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/input.svg" alt="input"/></span>
                      <span>Input<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="radio" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/radio.svg" alt="radio"/></span>
                      <span>Radio<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="search" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/search.svg" alt="search"/></span>
                      <span>Search<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="select" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/select.svg" alt="select"/></span>
                      <span>Select<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="textarea" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/autocomplete.svg" alt="textarea"/></span>
                      <span>Textarea<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="toggle" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/toggle.svg" alt="toggle"/></span>
                      <span>Toggle<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
              </ul>

            </div>


          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header>
            Navigation
          </nb-accordion-item-header>
          <nb-accordion-item-body class="app-components">


            <div class="content scroll-outer" style="height:calc(100% + 10px);"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todos"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="onDrop($event)">

                <ul>
                <!-- ngRepeat: component in components -->
                <li ng-repeat="component in components" data-component-type="map" draggable="false" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/sidebar.svg" alt="Container"/></span>
                      <span>Sidebar<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="slider" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/menu.svg" alt="Container"/></span>
                      <span>Menu<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="icon" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/tab.svg" alt="date"/></span>
                      <span>Tabs<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>


                <li ng-repeat="component in components" data-component-type="action" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/actions.svg" alt="action"/></span>
                      <span>Action</span>
                    </div>
                  </a>
                </li>
              </ul>



            </div>


          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header>
            Modals & Overlays

          </nb-accordion-item-header>
          <nb-accordion-item-body class="app-components">


            <div class="content scroll-outer" style="height:calc(100% + 10px);"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todos"
                [cdkDropListConnectedTo]="[doneList]"
                (cdkDropListDropped)="onDrop($event)">

                <ul>
                <!-- ngRepeat: component in components -->
                <li ng-repeat="component in components" data-component-type="map" draggable="false" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/tooltip.svg" alt="Container"/></span>
                      <span>Tooltip<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li><li ng-repeat="component in components" data-component-type="icon" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/datepicker.svg" alt="date"/></span>
                      <span>Date Picker<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>

                <li ng-repeat="component in components" data-component-type="list-item-icon" draggable="true" class="">
                  <a >
                    <div class="component-content">
                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/context-menu.svg" alt="menu"/></span>
                      <span>Context Menu<!-- ngIf: $parent.proRequired[component.type] --></span>
                    </div>
                  </a>
                </li>
                <li ng-repeat="component in components" data-component-type="chips" draggable="true" class="">
                  <a>
                    <div class="component-content">

                      <span class ="icon" ><img class="component-icon" src="../../assets/images/components/chips.svg" alt="chips"/></span>
                      <span>Chips</span>
                    </div>
                  </a>
                </li>
                
              </ul>

            </div>


          </nb-accordion-item-body>
        </nb-accordion-item>

      </nb-accordion>

    </div>

    </nb-sidebar>


  <nb-layout-column class="column-center">


      <!-- <nb-toggle cdkDrag></nb-toggle> -->


<!--<div id="Divphone" class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">-->
    <div id="Divphone" >


     <nb-card size="medium" class="cardPhone"  >

      <nb-card-body class="CompContainer">


          <div class="todo-container column-container">

            <div class="list"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="completed"
            [cdkDropListConnectedTo]="todoList"
            (cdkDropListDropped)="onDrop($event)">


            </div>

          </div>


      </nb-card-body>

    </nb-card>



     </div>

  <!--   <div class="list-container">

      <div class="todo-container column-container">

        <div class="list"
             cdkDropList
             #todoList="cdkDropList"
             [cdkDropListData]="todos"
             [cdkDropListConnectedTo]="[doneList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Tech to learn</h2>
          <nb-card *ngFor="let todo of todos" cdkDrag>
            <nb-card-header>
              <p>{{todo.category}}</p>
            </nb-card-header>
          </nb-card>
        </div>

      </div>

    </div> -->

  </nb-layout-column>


  <nb-sidebar right tag="right">


  </nb-sidebar>

</nb-layout>









