<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header><h6>Edit Project</h6></nb-card-header>
  <nb-card-body class="example-items-col">
    
        <div id="frm" class="row ">
          <form class="form">

              <span>
                <label for="subject">Project Name:</label>
              </span>
              <input nbInput fullWidth fieldSize="medium" shape="semi-round" id="subject" type="text" placeholder="project name">

              <span id="desc">
                <label class="text-label" for="text">Description:</label>
              </span>

            <textarea nbInput fullWidth rows="4" shape="semi-round" id="text" placeholder="description"></textarea>
            
              
               <span id="page">
                <label for="subject">Pages:</label>
              </span> 
              <nb-select placeholder="Page 1" shape="semi-round" fullWidth>
                <nb-option value="1">Page 1</nb-option>
                <nb-option value="2">Page 2</nb-option>
                <nb-option value="3">Page 3</nb-option>
                <nb-option value="4">Page 4</nb-option>
              </nb-select>
              
              <!-- <nb-card id="c-template">
                <nb-card-body>
                  
  
                </nb-card-body>
              </nb-card> -->
  
           
          
            <span id="icon">
              <label for="subject">Icon url:</label>
            </span>
            <input nbInput fullWidth fieldSize="medium" shape="semi-round" id="subject" type="text" placeholder="/url">
          
          </form>
        </div>
        
  </nb-card-body>
  <nb-card-footer>
    <div class="btnsPr">
    <button class="b1" nbButton size="small"  status="basic" (click)="dismiss()">Cancel</button>
    <button class="b2" nbButton size="small"  status="warning" >Edit</button>
  </div>
  </nb-card-footer>

</nb-card>
