
<div class="header-list-pages">

  <div class="title" >
    <span>Pages</span>
  </div>

  <div class="btn-group">
    <span id="add-page-dropdown" >

     <button nbButton ghost ><nb-icon icon="plus-square-outline" [nbPopover]="templatePageComponent"></nb-icon>Add Page</button>
    </span>
  </div>

</div>

  <div class="content-list-pages">
    <ul class="list-with-icons">
      <li>
        <a href="#">page</a>
      </li>

      <!-- <div>
        <a href="#">header</a>
      </div> -->

    </ul>


  </div>




<div class="list-components">
  <div class="header-list-components">
    <span >Components</span>
    <!-- <nb-form-field class="searchfield">
      <nb-icon nbPrefix icon="search-outline" pack="eva" ></nb-icon>
      <input type="text" nbInput fullWidth status="info"  placeholder="Search a component">
    </nb-form-field> -->
  </div>


    <div class="app-components" *ngFor="let category of categories" >

      <div id="uicategoriesList" class="content scroll-outer" style="height:calc(100% + 10px);"
              cdkDropList
              [cdkDropListData]="category.elements"
              [cdkDropListConnectedTo]="['answersList']"
              (cdkDropListDropped)="drop($event)">

          <ul>

            <li *ngFor="let element of category.elements" [cdkDragData]="element" cdkDrag>

              <div class="component-content">
                <span [class]="element.classes.toString().split(' ')">
                  <img class="component-icon" [src]="element.icon" alt="Layout" />
                </span>
                <span>{{ element.name }}</span>
              </div>

            </li>
          </ul>

      </div>

    </div>


</div>
