
<nb-layout>

          <!--Header-->
        <nb-layout-header  fixed>

          <ngx-header></ngx-header>

        </nb-layout-header>


           <!--Sub header-->
        <nb-layout-header class="subhead" subheader responsive >

          <ng-subheader></ng-subheader>

        </nb-layout-header>


         <!--Left sidebar-->
         <nb-sidebar>
          <ng-left-sidebar></ng-left-sidebar>
         </nb-sidebar>



          <!--Center layout-->
        <nb-layout-column class="column-center">

          <ng-center-layout></ng-center-layout>

        </nb-layout-column>


          <!--Right sidebar-->
          <nb-sidebar right tag="right">

            <ng-right-sidebar></ng-right-sidebar>

          </nb-sidebar>



</nb-layout>









