<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="logo-container">
        <!-- <span><img src="../../assets/images/Laser TagLogo.png" /> </span> -->
        <a class="logo" href="#" (click)="navigateHome()"><span><b>AppScalr</b></span></a>
      </div>
      <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
      </nb-select>
    </div>
    <div class="header-container2">
      <nb-actions size="small">

        <nb-action class="control-item">
          <nb-search type="rotate-layout"></nb-search>
        </nb-action>
        <nb-action class="control-item" icon="email-outline"></nb-action>
        <nb-action class="control-item" icon="bell-outline"></nb-action>
        <nb-action class="user-action" *nbIsGranted="['view', 'user']">
          <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.sub">
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-layout-header class="subhead" subheader responsive>
    <div style="justify-content: space-between;display: flex;">
      <span style="float: left;padding-right: 1.2rem;padding-top: 0.5rem;font-weight:bold;color:#0547d4;">Device</span>

      <nb-select placeholder="Iphone" status="info" style="float: right;">
        <nb-option value="1">Android</nb-option>
        <nb-option value="2">Iphone</nb-option>

      </nb-select>
    </div>

    <div class="dropdownIcons">
      <nb-actions size="small">

        <nb-action class="control-item" icon="cube-outline" nbTooltip="Build" nbTooltipPlacement="bottom"></nb-action>
        <nb-action class="control-item" icon="eye-outline" nbTooltip="Preview" nbTooltipPlacement="bottom"></nb-action>
        <nb-action class="control-item" icon="brush-outline" nbTooltip="Theming & SCSS" nbTooltipPlacement="bottom">
        </nb-action>
        <nb-action class="control-item" icon="cloud-download-outline" nbTooltip="Export Your App"
          nbTooltipPlacement="bottom"></nb-action>
        <nb-action class="control-item" icon="share-outline" nbTooltip="Share" nbTooltipPlacement="bottom"></nb-action>
        <nb-action class="control-item" icon="question-mark-circle-outline" nbTooltip="Help"
          nbTooltipPlacement="bottom"></nb-action>
      </nb-actions>

    </div>

  </nb-layout-header>



 


  <nb-layout-column class="column-center">



    <div id="Divphone">







      <div class="listDrop border" cdkDropList id="answersList" [cdkDropListData]="answers"
        [cdkDropListConnectedTo]="['defaultAnswersList']" (cdkDropListDropped)="dropIt($event)">
        <div class="input-section" cdkDragLockAxis="y" style="cursor: all-scroll"
          *ngFor="let answer of answers; index as i" cdkDrag>


          <div class="element-side" *ngIf="answer.isInput">
            <input type="text" [(ngModel)]="answer.placeholderText" class="input-element" placeholder="Placeholder" />

          </div>

          <div class="element-side" *ngIf="answer.isTextarea">
            <textarea class="input-element" [(ngModel)]="answer.secondaryPlaceholderText"
              placeholder="Placeholder"></textarea>

          </div>



          <div class="btn-wrap" *ngIf="answer.isButton">
            <input class="yes-btn" [(ngModel)]="answer.displayValue" placeholder="Add Button Text &#9998;">
          </div>



          <!--  <div class="crudIcons">
                            <a href="#" >
                              <nb-icon id="i1" class="icrud"  icon="copy-outline"></nb-icon>
                            </a>
                            <a href="#" >
                              <nb-icon id="i2" class="icrud" icon="edit-outline"></nb-icon>
                            </a>
                              <a href="#" >
                                <nb-icon id="i3" class="icrud" icon="trash-2-outline" ></nb-icon>
                              </a>

                            </div>
                           -->
        </div>


      </div>






    </div>



  </nb-layout-column>


  <nb-sidebar right tag="right">

  
    <h1 *ngIf="dropDetected">changed drop detected</h1>



  </nb-sidebar>

</nb-layout>



<!-- container component (holds data and logic and everything else)  -->

<nb-layout>
  <app-header-main></app-header-main>
  <app-header-secondary></app-header-secondary>



  <!-- left sidebar holds Ui elements | renders UI, does no data manipulation -->
  <app-sidebar-left [categories]="categories" (elementDragged)="handleDraggedElement($event)"></app-sidebar-left>





  <app-main-content></app-main-content>


  
  <app-sidebar-right></app-sidebar-right>
</nb-layout>
