
<div class="component-properties">


  <div class="title">

    <span >
      <a  class="breadcrumb-left">Page/Button</a>
    </span>


  </div>

  <div class="properties-form1">
    <div class="form-group">

      <label>Title</label>
      <input type="text" nbInput fieldSize="small"   placeholder="Page title">

    </div>

    <div class="form-group ">

     <label>Routing URL</label>
     <input type="text" nbInput fieldSize="small"  placeholder="/URL">

    </div>

    <div class="page-custome">
      <div class="form-title" ><span >Background</span></div>

      <div class="form-group" >

        <label>Color</label>
        <input  style="border-radius: 7px;height: 30px;"
                 [style.background]="color1" [(colorPicker)]="color1" [cpPosition]="'bottom'"
                 [cpWidth]="'150px'" [cpHeight]="'auto'"
                              (colorPickerOpen)="onEventLog('colorPickerOpen', $event)"
                              (colorPickerClose)="getColor($event)"
                              (cpInputChange)="onEventLog('cpInputChange', $event)"
                              (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)"
                              (cpSliderDragEnd)="onEventLog('cpSliderDragFinished',$event)"/>




            <button class="btn-submit" nbButton hero   status="success" (click)="sendProperties()">Submit</button>


    </div>





    </div>


  </div>


  </div>


