
            <!-- Card stats -->
            <div id="container-card" class="row">
                <div class="col-xl-3 col-lg-6">

                  <nb-card accent="primary" >
                    <div  class="mb-4 mb-xl-0">
                      <ion-icon class="ic" name="person-outline" ></ion-icon>

                    </div>
                    <div class="card-title">
                      <p>Author</p>
                    </div>
                    <div class="card-value">
                      <p>Hamza Ouazzi</p>
                    </div>

                  </nb-card>
                </div>
                <div class="col-xl-3 col-lg-6">

                  <nb-card  accent="primary">
                    <div  class="mb-4 mb-xl-0">
                      <ion-icon class="ic" name="apps-outline"></ion-icon>

                    </div>
                    <div class="card-title">
                      <p>Apps</p>
                    </div>
                    <div class="card-value">
                      <p>1</p>
                    </div>

                  </nb-card>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <nb-card accent="primary" >
                    <div  class="mb-4 mb-xl-0">
                      <ion-icon class="ic" name="albums-outline"></ion-icon>

                    </div>
                    <div class="card-title">
                      <p>Pages</p>
                    </div>
                    <div class="card-value">
                      <p>8</p>
                    </div>

                  </nb-card>

                </div>
                <div class="col-xl-3 col-lg-6">
                  <nb-card accent="primary">
                    <div  class="mb-4 mb-xl-0">
                      <ion-icon class="ic" name="analytics-outline"></ion-icon>
                      
                    </div>
                    <div class="card-title">
                      <p>User Logs</p>
                    </div>
                    <div class="card-value">
                      <p>19</p>
                    </div>

                  </nb-card>
                </div>
            </div>

