
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">

                  <nb-card>
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="people-outline" ></nb-icon>
                    </div>

                  </nb-card>
                </div>
                <div class="col-xl-3 col-lg-6">

                  <nb-card>
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="bar-chart-outline" ></nb-icon>
                    </div>

                  </nb-card>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <nb-card>
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="layers-outline" ></nb-icon>
                    </div>

                  </nb-card>

                </div>
                <div class="col-xl-3 col-lg-6">
                  <nb-card>
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="shopping-cart-outline" ></nb-icon>
                    </div>

                  </nb-card>
                </div>
            </div>






<!--
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="ic-container">
              <nb-icon class="ic" icon="people-outline"  style="background: #c9a031;"></nb-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p id="nn" class="card-category"><strong>USERS</strong></p>
              <p id="nn" class="card-title">1</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="ic-container">
              <nb-icon class="ic" icon="bar-chart-outline"  style="background: #31c97d;"></nb-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p id="nn" class="card-category"><strong>USERS</strong></p>
              <p id="nn"class="card-title">8</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="ic-container">
              <nb-icon class="ic" icon="calendar-outline" style="background: #3148c9;"></nb-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p id="nn" class="card-category"><strong>USERS</strong></p>
              <p  id="nn" class="card-title">1</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id ="u4" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="ic-container">
              <nb-icon class="ic" icon="layers-outline"  style="background: #c93139;"></nb-icon>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p id="nn" class="card-category"><strong>USERS</strong></p>
              <p id="nn" class="card-title">1</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

 -->

 <!-- <div id="cont" class="row h-25">
  <div  class="col-md-12 grid-margin ">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="d-flex">
              <div class="wrapper">
                <nb-icon class="ic" icon="layers-outline" ></nb-icon>
                <h6 >PROJECTS</h6>
                <div class="mb-0"><p ><strong>0</strong></p></div>
              </div>
              <div class="wrapper my-auto ml-auto ml-lg-4">
                <canvas height="50" width="100" id="stats-line-graph-1"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
            <div class="d-flex">
              <div class="wrapper">
                <nb-icon class="ic" icon="people-outline"></nb-icon>
                <h6 >USERS</h6>
                <div class="mb-0"><p ><strong>2</strong></p></div>
              </div>
              <div class="wrapper my-auto ml-auto ml-lg-4">
                <canvas height="50" width="100" id="stats-line-graph-2"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
            <div class="d-flex">
              <div class="wrapper">
                <nb-icon class="ic" icon="bar-chart-outline"  ></nb-icon>
                <h6 >News</h6>
                <div class="mb-0"><p ><strong>0</strong></p></div>
              </div>
              <div class="wrapper my-auto ml-auto ml-lg-4">
                <canvas height="50" width="100" id="stats-line-graph-3"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
            <div class="d-flex">
              <div class="wrapper">
                <nb-icon class="ic" icon="calendar-outline"></nb-icon>
                <h6 >Downloads</h6>
                <div class="mb-0"><p ><strong>0</strong></p></div>
              </div>
              <div class="wrapper my-auto ml-auto ml-lg-4">
                <canvas height="50" width="100" id="stats-line-graph-4"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
