
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">

                  <nb-card accent="primary" >
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="people-outline" status="primary" ></nb-icon>
                    </div>

                  </nb-card>
                </div>
                <div class="col-xl-3 col-lg-6">

                  <nb-card accent="info">
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="bar-chart-outline" status="info"></nb-icon>
                    </div>

                  </nb-card>
                </div>
                <div class="col-xl-3 col-lg-6">
                  <nb-card accent="success" >
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="layers-outline" status="success"></nb-icon>
                    </div>

                  </nb-card>

                </div>
                <div class="col-xl-3 col-lg-6">
                  <nb-card accent="warning">
                    <div  class="mb-4 mb-xl-0">
                      <nb-icon class="ic" icon="shopping-cart-outline" status="warning" ></nb-icon>
                    </div>

                  </nb-card>
                </div>
            </div>
