



<div class="dropDown-Icons" >
  <nb-actions size="small">

    <nb-action class="control-item" icon="cube-outline" nbTooltip="Build" nbTooltipPlacement="bottom" ></nb-action>
    <nb-action class="control-item" icon="eye-outline" nbTooltip="Preview" nbTooltipPlacement="bottom" (click)="openEdit()"></nb-action>
    <nb-action class="control-item" icon="brush-outline" nbTooltip="Theming & SCSS" nbTooltipPlacement="bottom" ></nb-action>
    <nb-action class="control-item" icon="cloud-download-outline" nbTooltip="Export Your App" nbTooltipPlacement="bottom" ></nb-action>
    <nb-action class="control-item" icon="share-outline" nbTooltip="Share" nbTooltipPlacement="bottom" ></nb-action>
    <!-- <nb-action class="control-item" icon="question-mark-circle-outline" nbTooltip="Help" nbTooltipPlacement="bottom" ></nb-action> -->
  </nb-actions>

</div>

