@import '../../../../theme/styles/themes';

@include nb-install-component() {




  #frm {
    display: flex;
    justify-content: center;
    align-items: center;

    span{
     float: left;

    }
    #desc{

      margin-top: 1.5rem;
    }


  }

  #c-template{
    width: 635px;
    height: 230px;
  }
}

:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }

}

nb-card-footer{

  .btnsPr{
    justify-content: space-around;
    float: right;

    .b1{
      margin-right: 0.3rem;
    }
  }
}
