<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header><h6>Create Project</h6></nb-card-header>
  <nb-card-body class="example-items-col">
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Title</ng-template>
        <div id="frm" class="row ">
          <form class="form">

              <span>
                <label for="subject">Project Name:</label>
              </span>
              <input nbInput fullWidth fieldSize="medium" shape="semi-round" id="subject" type="text" placeholder="project name">

              <span id="desc">
                <label class="text-label" for="text">Description:</label>
              </span>

            <textarea nbInput fullWidth rows="5" shape="semi-round" id="text" placeholder="description"></textarea>


          </form>
        </div>
        <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Choose template</ng-template>

        <div  class="row">

            <nb-card id="c-template">
              <nb-card-body>

              </nb-card-body>
            </nb-card>


        </div>

        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Third step">
        <h3>Step content #3</h3>
        <button nbButton  nbStepperPrevious>prev</button>
        <button nbButton   nbStepperNext>next</button>
      </nb-step>
      <!-- <nb-step [label]="labelFour">
        <ng-template #labelFour>Fourth step</ng-template>
        <h3>Step content #4</h3>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step> -->
    </nb-stepper>

  </nb-card-body>
  <nb-card-footer>
    <div class="btnsPr">
    <button class="b1" nbButton size="small"  status="basic" (click)="dismiss()">Cancel</button>
    <button class="b2" nbButton size="small"  status="success" >Create</button>
  </div>
  </nb-card-footer>

</nb-card>
