.container{
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  align-content: center;
  width: 980px;
  height: 500px;

}

.title{
  margin-top: 50px;
  height: 40px;
  width: 880px;
  border-bottom:4px solid #0073d0;
  justify-content: space-evenly;

  .col1{
    margin-left: 8px;
    margin-right: auto;
    justify-content: space-between;
    ion-icon{
      color: #0073d0;
      font-size: 1.7rem;
      margin-right: 2px;
    }
    p{
      color: #0073d0;
      font-size: 2rem;
      font-weight: bolder;
      display: inline;
    }
  }
}

.form-edit{
  width: 850px;
  margin-top: 50px;
  
  .btn{
    float: right;
    margin-right: 52px;
  }
}

