
          <div id="Divphone" >

            <div class="switch-field">

              <div class="done">

                <button nbButton status="primary" hero shape="round"  (click)=" getDom()">Save work</button>

                <!-- <button nbButton shape="round" size="small"  ghost status="primary" nbTooltip="Preview"
                nbTooltipPlacement="bottom">
                <ion-icon name="eye" (click)="open2(dialog)" style="font-size: 2rem;"></ion-icon>
                </button> -->

                <button  nbButton outline status="primary" shape="round" (click)="open2(dialog)">
                  <nb-icon icon="eye-outline"></nb-icon>Preview </button>
              </div>



              <div class="control">

                <nb-select  #sel  hero status="primary" shape="round" (ngModelChange)="handleChange()"
              [(ngModel)]="selectedValue">
                <nb-option *ngFor="let a of zoomArray" [value]="a.id" >{{a.name}}</nb-option>
              </nb-select>

              <div class="switch-device">
                <input type="radio" id="switch_left" name="switch_2" value="ios" checked (click)="replace1()"/>
                <label for="switch_left"><ion-icon class="icon" name="logo-apple"></ion-icon></label>
                <input type="radio" id="switch_right" name="switch_2" value="Android" (click)="replace2()" />
                <label for="switch_right"><ion-icon class="icon" name="logo-android"></ion-icon></label>
              </div>
              </div>




          </div>

          <div class="frame-container" #framecontainer>
            <div class="device-header">
              <svg class="device__ios-notch" #ios viewBox="0 0 219 31" width="250" height="20" >
                <path d="M0 1V0h219v1a5 5 0 0 0-5 5v3c0 12.15-9.85 22-22 22H27C14.85 31 5 21.15 5 9V6a5 5 0 0 0-5-5z" fill-rule="evenodd"></path>
              </svg>
              <svg class="device__md-bar" #android viewBox="0 0 1384.3 40.3" width="250" height="20" style="opacity: 0;" >
                <path class="st0" d="M1343 5l18.8 32.3c.8 1.3 2.7 1.3 3.5 0L1384 5c.8-1.3-.2-3-1.7-3h-37.6c-1.5 0-2.5 1.7-1.7 3z"></path>
                <circle class="st0" cx="1299" cy="20.2" r="20"></circle><path class="st0" d="M1213 1.2h30c2.2 0 4 1.8 4 4v30c0 2.2-1.8 4-4 4h-30c-2.2 0-4-1.8-4-4v-30c0-2.3 1.8-4 4-4zM16 4.2h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H16c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path>
              </svg>
            </div>

            <div class="header-list">
              <span>{{selectedPage?.pagetitle}}</span>

            </div>

                <div  class="listDrop ion-padding" cdkDropList #listDrop
                      id="answersList"
                      [cdkDropListData]="elements"
                      [cdkDropListConnectedTo]="['uicategoriesList']"
                      (cdkDropListDropped)="drop($event)"
                      >

                 </div>

          </div>



      </div>

      <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card class="holder">
          <div class="animated-title">
            <p>a</p>
            <p>p</p>
            <p>p</p>
            <p>s</p>
            <p>c</p>
            <p>a</p>
            <p>l</p>
            <p>r</p>

          </div>

          <div class="close-preview">
            <ion-icon name="close" (click)="ref.close()"></ion-icon>
          </div>

          <div id="inner_wrap">

            <!--The Main Thing-->
          <div id="wrapper" style="perspective: 1300px;" #wrapper>
          <div class="phone view_2" id="phone_1" style="width: 360px; height: 640px;" #phone_1>
          <iframe  id="frame_1"  allowtransparency="true" style="background: #FFFFFF;"   #frame_1></iframe>
          </div>
          </div>



          <div id="phone-controls">

            <div class="switch-device">
              <button nbButton status="info" shape="round" size="small" (click)="scalePhone($event,1)">
                <ion-icon class="icon" name="logo-apple" style="font-size: 1.5rem;"></ion-icon>
              </button>
            <button nbButton status="info" shape="round" size="small" (click)="scalePhone($event,2)">
              <ion-icon class="icon" name="logo-android" style="font-size: 1.5rem;"></ion-icon>
            </button>
            </div>
          <div id="views" >


              <button (click)="onShow()" style="font-weight: bold;">PREVIEW</button>
          </div>

          <div id="phones" >
            <button [value]="1" (click)="updateView(1)">Table View</button>
            <button [value]="2" (click)="updateView(2)">Front View</button>

          </div>
          </div>
          </div>

          </nb-card>

      </ng-template>
