@import '../../../theme/styles/themes';
@import '~@angular/material/theming';

@include nb-install-component() {

  .result-from-dialog {
    flex-direction: column;
  }

  .container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    //flex-wrap: wrap;
    padding-top: 10px;
  }

  .card{
    //width: 17rem;
    height: 15.5rem;
    cursor: pointer;
    &:hover {
      @include mat-elevation(9);
    }
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    transition: height 0.3s, box-shadow 0.3s;

  }

  .example-items-col{
      width: 400px;
  }

  #frm {
    display: flex;
    justify-content: center;
    align-items: center;


    span{
     float: left;

    }
    #desc,#page,#icon{

      margin-top: 1.5rem;
    }


  }
  #frm-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-icon{
      width: 635px;
      height: 230px;

    }

    span{
     float: left;

    }



  }

  #c-template{
   border: 1px solid rgb(158, 21, 89);
   margin-top: 12px;
   margin-left: 0;
   margin-right: auto;
    //width: 635px;
    height: 140px;



    div{
      //@extend: inline-block;
      float: left;

      .page1,.page2,.page3{
        width: 80px;
        height: 80px;

        padding: 5px;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        align-items: center;
        cursor: pointer;
      &:hover {
        @include mat-elevation(2);
      }
      }
      p{
          //font-size: 1rem;
          font-weight: bold;
          color: #ccc;
          //top: auto;
         margin-top: 10px;
        // margin-left: 25px;
      }
    }
  }

  .row{
    margin-bottom: 12px;
  }
  .col1{
    float: left;
    p{
      font-size: 1.9rem;
    }
  }
  .col2{
    float: right;
    nb-icon {
      font-size: 1.55rem;
      color:white;

    }
  }

  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  .app-icon{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;


  }
  .h5{
    text-align: center;
    text-transform: uppercase;
  }

  .details {
    padding: nb-theme(card-padding);
  }

  .description {
    text-align: center;

    p{
      color: gray;
      font-size: 0.9rem;
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .link-icon {
    font-size: 1.75rem;
  }

  nb-icon {
    font-size: 1.55rem;
    color: rgb(185, 185, 185);
    &:hover {
      color: #1d0463;
    }


    ::ng-deep svg {
      vertical-align: top;
    }
  }

}
