
<div class="row">
  <div class="col-md-12 grid-margin ">
  <div class="col2 ">
    <button nbButton hero status="primary" size="small" (click)=" open()"><nb-icon  icon="plus-outline"></nb-icon>New Project</button>
  </div>

</div>
</div>
<!-- <div class="row">
  <div class="title"> <h4>Projects</h4></div>
  <div class="btn"><button nbButton status="success">Success<nb-icon  icon="plus-outline"></nb-icon></button></div>
</div> -->
<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
 <nb-card size="tiny" class="card" (click)="navigate()" >

  <nb-card-body>
    <div class="app-icon">
      <img src="../../../../assets/images/icon1.png" >

    </div>

    <div class="details">
      
      <div class="h5">Prj01</div>
      <div class="description">
         <p>Last edited Apr 10,2020</p>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    
      <nb-icon  icon="edit-2-outline" pack="eva" (click)="openEdit()"></nb-icon>
    
    <a href="#" >
      <nb-icon icon="share-outline" pack="eva"></nb-icon>

    </a>
    <a href="#" >

      <nb-icon icon="copy-outline" pack="eva"></nb-icon>
    </a>
    <a href="#" >
      <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
    </a>

  </nb-card-footer>
</nb-card>
</div>

<ng-template #contentTemplate let-data>
  <p>Here is the text provided via config: "{{ data.text }}"</p>
</ng-template>

<ng-template #disabledEsc>
  Disabled close on escape click.
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


